<div class="p-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-12 gap-5">
    <!-- Recently Added Products Section -->
    <div class="col-span-1 sm:col-span-2 lg:col-span-6">
      <div>
        <h1 class="p-3 text-gray-800">
          {{ "Recently Added Products" | uppercase }}
        </h1>
        <app-product-table [dataSource]="recentProducts" [isDashboard]="true" />
      </div>
    </div>
    
    <!-- New Customers Section -->
    <div class="col-span-1 sm:col-span-2 lg:col-span-6">
      <div>
        <h1 class="p-3 text-gray-800">{{ "New Customers" | uppercase }}</h1>
        <app-customer-table [customers]="customers" />
      </div>
    </div>

    <!-- Recent Orders Section -->
    <div class="col-span-1 sm:col-span-2 lg:col-span-12">
      <div>
        <h1 class="p-3 text-gray-800">{{ "Recent Orders" | uppercase }}</h1>
        <app-order-table [order]="recentOrders" />
      </div>
    </div>
  </div>
</div>
